$white: #FFFFFF;
$british-green-550: #004631;
$british-green-700: #002e21;
$fresh-yellow: #fcbc00;

$fresh-yellow-200: #fde499;
$fresh-green-100: #d5edd6;
$fresh-green-200: #abdcae;
$fresh-green-550: #299630;
$fresh-green-700: #1b6420;
$black: #000000;
$warm-grey: #686C6F;
$warm-grey-25: #F7F7F7;
$warm-grey-50: #F0F0F0;
$warm-grey-100: #E0E1E2;
$warm-grey-200: #C2C4C5;
$warm-grey-550: #5D6063;
$warm-grey-700: #3E4042;
$morrisons-green-font: #004e37;
$morrisons-yellow: #fece08;
$fresh-yellow-550: #e2a800;
